<!DOCTYPE html>
<html lang="en">

  <% include ./partials/_header %>

   <div class="container">
     <div class="row float-right cart">
        <div class="col-sm">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
         </h4>

          <div id="cart-detail">
            <div id="foods-list">
              <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                  <div>
                    <h6 class="my-0">No dish selected<br />
                      <small class="text-muted">Quantity: 0</small>
                    </h6>
                  </div>
                  <span class="text-muted">$0</span>
                </li>
                <li class="list-group-item d-flex justify-content-between"><span>Total (USD)</span><strong>$0</strong></li>
              </ul>
            </div>

            <div id="go-cart">
              <form id="orderForm" name="orderInfo" method="POST" action="/orders?_method=PUT" class="card p-2">
                <div class="form-group">
                  <input type="text" id="user" class="form-control" placeholder="Name">
                  <input type="number" id="phoneNum" class="form-control" placeholder="Phone Number">
                  <!-- <input id="phoneNum" type="tel" class="form-control" name="phone" placeholder="Phone" pattern="^\+1(\s+)?\(?(111)\)?(\s+)?[0-9]{3}-?[0-9]{2}-?[0-9]{2}$"> -->


                </div>
                <input type="hidden" id="data" name="data" value>
                <input type="button" id="reset" class="btn btn-secondary" value="Reset">
                <input type="submit" id="order" class="btn btn-secondary order" value="Order">
              </form>
              <span class="error">We need your name and phone# :)</span>
            </div>
          </div>

        </div>
      </div>
   </div>

   <div class="container">
      <div class="card-columns display: inline-block">

        <% for(let dish of dishes) { %>
          <% const hyphenId = (dish.dish_name).replace("'", "").split(" ").join("-");%>

          <div class="card">
            <img class="card-img-top" src="https://s3.us-east-2.amazonaws.com/pick-me-up-midterm/0<%= dish.id %>.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= dish.dish_name %></h5>
              <p class="card-text"><%= dish.description %></p>
              <p class="card-text">$<%= dish.price %></p>
              <select class="items" id="<%= hyphenId %>">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <button type="button" class="btn btn-secondary add-foods btn-sm" data-id="#<%= hyphenId %>" data-name="<%= dish.dish_name %>" data-price="<%= dish.price %>" data-number="0<%= dish.id %>">Add to Cart</button>
            </div>
          </div>
        <% } %>

        </div>
      </div>
   </div>

    <% include ./partials/_footer %>

  </body>
</html>

