<!DOCTYPE html>
<html lang="en">

  <% include ./partials/_header %>

   <div class="container">
     <div class="row float-right">
        <div class="col-sm">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
<!--             <span class="badge badge-secondary badge-pill">3</span>
 -->          </h4>

          <div id="cart_detail">
<!--             <div id="close_cart">
              <span class="glyphicon glyphicon-remove" title="CLOSE"></span>
            </div> -->
            <div id="foods_list"></div>
            <div id="go_cart">
              <input type="text" class="form-control" placeholder="Name">
              <input type="text" class="form-control" placeholder="Phone Number">
              <a href="#" class="btn btn-warning btn-md">Place order<span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
          </div>

<!--           <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Product name</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$12</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Second product</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$8</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div>
                <h6 class="my-0">Third item</h6>
                <small class="text-muted">Brief description</small>
              </div>
              <span class="text-muted">$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total (USD)</span>
              <strong>$20</strong>
            </li>
          </ul>
             <form class="card p-2">
               <input type="text" class="form-control" placeholder="Name">
               <input type="text" class="form-control" placeholder="Phone Number">
               <button type="submit" class="btn btn-secondary">Order</button>
             </form> -->

        </div>
      </div>
   </div>

   <div class="container">
      <div class="card-columns display: inline-block">


        <% for(let dish of dishes) { %>
          <% const hyphenId = (dish.dish_name).replace('\'', '').split(" ").join("-");%>

          <div class="card">
            <img class="card-img-top" src="https://s3.us-east-2.amazonaws.com/pick-me-up-midterm/0<%= dish.id %>.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= dish.dish_name %></h5>
              <p class="card-text"><%= dish.description %></p>
              <p class="card-text">$<%= dish.price %></p>
              <select class="items" id="<%= hyphenId %>">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <button type="button" class="btn btn-secondary add-foods btn-sm" data-id="#<%= hyphenId %>" data-name="<%= dish.dish_name %>" data-price="<%= dish.price %>" data-number="0<%= dish.id %>">Add to Cart</button>
            </div>
          </div>
        <% } %>



        <!-- <div class="card">
          <img class="card-img-top" src="https://s3.us-east-2.amazonaws.com/pick-me-up-midterm/01.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Bronx Bomber</h5>
            <p class="card-text">Pastrami & Egg Salad w/ Lettuce, Tomato and Onion.</p>
            <p class="card-text">$10.00</p>
            <select class="items" id="bronx-bomber">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <button type="button" class="btn btn-secondary add-foods btn-sm" data-id="#bronx-bomber" data-name="Bronx Bomber"
              data-price="9.95" data-number='01'>Add to Cart</button>

          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://s3.us-east-2.amazonaws.com/pick-me-up-midterm/02.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Hell's Kitchen</h5>
            <p class="card-text">Bacon, Swiss, Egg Salad, Cajun Sauce, Avocado, Lettuce, Tomato, Onion.</p>
            <p class="card-text">$9.00</p>
            <select class="items" id="hells-kitchen">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <button type="button" class="btn btn-secondary add-foods btn-sm" data-id="#hells-kitchen" data-name="hells kitchen"
              data-price="9.95" data-number='02'>Add to Cart</button>
          </div>
        </div>
         <div class="card">
          <img class="card-img-top" src="https://s3.us-east-2.amazonaws.com/pick-me-up-midterm/04.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Vegetarian Breakfast</h5>
            <p class="card-text">Scrambled eggs, roasted peppers, potatoes, cheese, green beans, and arugula.</p>
            <p class="card-text">$10.95</p>
            <select class="items" id="vegetarian-breakfast">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <button type="button" class="btn btn-secondary add-foods btn-sm" data-id="#vegetarian-breakfast" data-name="Vegetarian Breakfast"
              data-price="10.95" data-number="03">Add to Cart</button>
          </div> -->

        </div>
      </div>
   </div>

    <% include ./partials/_footer %>

  </body>
</html>

