<!DOCTYPE html>
<html lang="en">

  <% include ./partials/_header %>

   <div class="container">
     <div class="row float-right">
        <div class="col-sm">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
         </h4>

          <div id="cart_detail">
            <div id="foods_list"></div>
              <input type="text" class="form-control" placeholder="Name">
              <input type="text" class="form-control" placeholder="Phone Number">
            <div id="go_cart">
              <a href="#" class="btn btn-warning btn-md">Place order<span class="glyphicon glyphicon-chevron-right"></span></a>
              <form id="orderForm" name="orderInfo" method="POST" action="/orders" class="card p-2" style="display: none">
                <input type="hidden" id="data" name="data" value>
              </form>
            </div>
          </div>

        </div>
      </div>
   </div>

   <div class="container">
      <div class="card-columns display: inline-block">

        <% for(let dish of dishes) { %>
          <% const hyphenId = (dish.dish_name).replace('\'', '').split(" ").join("-");%>

          <div class="card">
            <img class="card-img-top" src="https://s3.us-east-2.amazonaws.com/pick-me-up-midterm/0<%= dish.id %>.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= dish.dish_name %></h5>
              <p class="card-text"><%= dish.description %></p>
              <p class="card-text">$<%= dish.price %></p>
              <select class="items" id="<%= hyphenId %>">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              <button type="button" class="btn btn-secondary add-foods btn-sm" data-id="#<%= hyphenId %>" data-name="<%= dish.dish_name %>" data-price="<%= dish.price %>" data-number="0<%= dish.id %>">Add to Cart</button>
            </div>
          </div>
        <% } %>

        </div>
      </div>
   </div>

    <% include ./partials/_footer %>

  </body>
</html>

